.footer__list{
    display: flex;
    justify-content: space-around;
}

.footer__link-img{
    display: flex;
    align-items: center;
    gap: 24px;
}

.footer__desc{
    font-family: DM Sans;
font-weight: 400;
font-size: 18px;
leading-trim: NONE;
line-height: 155%;
letter-spacing: 0%;
color: #000000;
opacity: 0.6;
}

.footer__box1{
    width: 200px;
    margin-top: 16px;margin-bottom: 24px;
}

.footer__link-title{
    font-family: DM Sans;
font-weight: 500;
font-size: 24px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
}

.footer__link{
    font-family: DM Sans;
font-weight: 400;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
color: #000000;
opacity: 0.6;
}

.links{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__address{
    display: block;
    width: 314px;
    padding-top: 16px;padding-bottom: 17px;padding-left: 16px;
    border: 1px solid #0000001A;
    background-color: #FFFFFF;
    font-family: DM Sans;
font-weight: 400;
font-size: 18px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 0%;
opacity: 0.6;
color: #000000;
margin-top: 24px;
}

.community{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer__bottom{
    margin-top: 105px;
    margin-bottom: 56px;
}

.footer__bottom-text{
    font-family: DM Sans;
font-weight: 400;
font-size: 16px;
leading-trim: NONE;
line-height: 100%;
letter-spacing: 1%;
color: #000000;
}