.header__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__list{
    display: flex;
    align-items: center;
    gap: 40px;
}

.header{
    margin-top: 56px;
}